.DS_Store
History/*
*/History/*
__Previews/*
Project Outputs for iuh-thuc-hanh/*
Other Libraries/LIBRARY1/Project Outputs for LIBRARY1/*
Other libraries/KhueNguyen/Project Outputs for Altium_Lib_by_KhueNguyenCreator/*